



/* ================================= 
  Color Palettes 
==================================== */



	/* 
		Dark Blue	: #2C3E50;
		Dark Yellow : #FFCC00
		Light Gray 	: #ECF0F1;
	*/

/* ================================= 
  Google fonts
==================================== */

@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");


/* ================================= 
  Base Element Styles
==================================== */

a{

	text-decoration: none;
	
}

body{

	color:#7F8C8D;
}

h5{

	font-size: 0.9em;
	font-weight: 600;
}
/* ================================= 
  Base Heading Styles
==================================== */

section h3 {

	
	font-weight: 400;
	color:#2C3E50;
	text-align: center;
	padding:1em 0;
	text-transform: uppercase;
	font-size: 25px;
	line-height: 18px;
}
p{
	font-weight: lighter;
	font-size: 14px;
	line-height: 22px;
}


/* ================================= 
  Base Layout Styles
==================================== */



/* ---- Layout Containers ---- */

.page-wrap{

	min-height:calc(100vh - 150px);

}

.main-header{

	background-color:#2C3E50;
	padding:0;
	height:auto;
	z-index:999;
	position:fixed;
	width:100%;
}

.main-footer{

	background-color:#ECF0F1;
	padding: 2rem 0;
	min-height:150px;

}

.container{

	width:80%;
	margin:0 auto;
	
}

section{

	padding:2em 0;
	text-align: center;
}

/* ---- Navigation ---- */

#navbar-top-custom{

	
	height:100%;

}

/*---- navbar logo to hide belowtablet device ----*/
.navbar-brand .header-logo{

	color:#FFCC00 !important;
	font-size:50px;
	display:none;
}

.navbar .top-brand-name{

	font-family:'Kaushan Script', cursive;;
	display:inline-block;
	padding: 0;
	font-size: 1.5em;
	color:#FFF;
}

.navbar-light .hamburger{

	border-color:#FFCC00;
	margin-bottom: 0 !important;
	bottom:0.6rem;
}

 .navbar-light .navbar-toggler{

	color:red;
}


.navbar-light .navbar-nav .nav-link{

	color:#FFF !important;
	font-size: 0.9rem;
}



.navbar-brand .header-logo{

	color:#FFCC00 !important;
	font-size:50px;
}


.top-brand-name{

	font-family:'Kaushan Script', cursive;;
	display:inline-block;
	padding: 0;
	font-size: 2em;
	color:#FFF;
}

/* ---- Package ---- */

.package-wrapper{

	padding:20px 50px;
}

.package-card{

	height:600px;
	text-align: center !important;
	
}
.package-card .card-img-top{

	height: 120px;
}

.package-card-heading{

	font-size: 1rem;
	padding-top:15px;
	padding-bottom: 10px ;
	text-transform: uppercase;
}

.package-price{

	color: #2C3E50;
	line-height: 40px;
	font-size: 30px;
	font-weight: 800;
}
.package-menu{

	margin:0 auto;
}
.package-menu li{
	text-align: center;
	border-bottom: 1px dotted #2C3E50;
	padding:0px 10px;
	width:150px;
}

.package-intro{
	padding:15px 20px;
	text-align: justify;
}
.btn-price{
	
	background-color: #2C3E50;
	color:#FFCC00;
	width:150px;
	text-align: center;
	margin:0 auto;
	margin-top: 30px;
}
/* ---- Events ---- */

.event-wrapper{

		width:100%;
		height:180px;
		/*outline:1px red solid;*/
		margin:10px 0;
		position:relative;
		overflow:hidden;
	}

	.event-thumbnail{

		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		transition:all 0.3s ease-out;
		

	}

.event-heading{

	color:#2C3E50;
}

.event-intro{

	text-align: justify;
}
.event-tag{


	position: absolute;
	top:0;
	right:0;
	width:90px;
	height:50px;
	background-color: #d9534f;
	opacity:0.9;
	color:#FFF;
	display:flex;
	justify-content:center;
	align-items:center;
	transition:all 0.3s ease-out;

}

.event-wrapper:hover .event-thumbnail{

	opacity:0;
}
.event-wrapper:hover .event-tag{

	width:100%;
	height:100%;
}


/* ---- Destinations ---- */
	.destination-wrapper{

		width:100%;
		height:250px;
		/*outline:1px red solid;*/
		margin:10px 0;
		position:relative;
		overflow:hidden;
	}

	.destination-thumbnail{

		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		transition:all 0.3s ease-in;

	}

	.destination-wrapper:hover .destination-thumbnail{

		transform:scale(1.2);
		
	}
	.destination-banner{

		position: absolute;
		height:60px;
		width:100%;
		bottom:0px;
		background-color: #000;
		opacity:0.8;
		color:#FFF;
		display: flex;
		align-items:center;
		justify-content:center;
		transition:all 0.3s ease-in;
	}

	

/* ---- Subscription ---- */

button.addon-btn{

	background-color: #5cb85c;
	color:#FFF;
}

/* ---- Footer ---- */

.footer-top .footer-top-col{

	text-align: left;
}

.footer-top h5{

	color:#2C3E50;
}

.footer-top ul{

	margin:0;
	padding:0;
	list-style-type: none;
	text-align: left;
}
.footer-top ul li{

	list-style-type:none;
	font-size:0.8em; 
	padding:0.5em 0;

}


.footer-top ul li a{

	color:#7F8C8D;
}



.footer-top ul li a:hover{

	color:#2C3E50;
}




.footer-bottom{
	
	margin: 30px 0;
	display: flex;
	flex-direction:row;

}

.copyright,.footer-images{

	text-align: center;
}

.copyright{

	color:#2C3E50;
	margin:0;
	margin-bottom:10px;
	vertical-align: bottom;
}

.footer-images li img{

	width:110px;
	height:40px;
	margin-top: 15px;
}

.sprouttech-link{

	color:tomato;
}



.banner{

	width:100%;
	background-color: red;
	min-height:calc(100vh - 80px);
}


/* ================================= 
  Utility styles
==================================== */




/* ================================= 
  Utility styles
==================================== */

.clearfix::after{

	content: "";
	display: table;
	clear:both;
}


/* ================================= 
  Page specific
==================================== */



/* ---- index ---- */

section.hero{
	
	position: relative;
  	bottom: 0%;
  	left: 0%;
  	min-height:calc(100vh - 80px);
  	width: 100%;
  	overflow: hidden;
  	background: #333;
  	padding:0;
  	margin:0;
	
	
	}


.intro-video{

	position: absolute;
	top:0;
  	z-index: 0;
  	bottom: 0;
  	width:100%;

}


.video-overlay{

	position: absolute;
	top:0;
  	z-index: 1;
  	bottom: 0;
  	width:100%;
  	background-color: #FFCC00;
  	opacity:0.2;
}

.hero h2{

	position: absolute;
	top:15%;
	text-align:center;
  	z-index: 1;
  	bottom: 0;
  	width:100%;
  	color:#fff;
  	font-family:'Kaushan Script', cursive;;
  	font-size: 5em;

}

.bottom-icon-tile-pannel{

	display: none;

}

.article-wrapper{

	text-align:center;
}
.deal{

	width:100%;
	height:300px;
	margin:10px 0;
}
.deal img{

	width:100%;
	height:200px;
}
.deal h5{

	text-align: center;
}

.destination{

	width:90%;
	height:300px;
	margin:10px 0;
	position:relative;
	
}

.destination img{

	width:100%;
	height:300px;
}

/* ================================= 
  Media Queries
==================================== */



/* ---- Small devices (landscape phones, 576px and up) ---- */
@media (min-width: 576px) { 

	.footer-bottom .footer-images,.copyright{

		float:left;
		margin: 0;
		padding:0;
	}

	.footer-bottom-col{

	position:relative;
	}

	.copyright{

		position: absolute;
		bottom:0;

	}
}

/* ----  Medium devices (tablets, 768px and up) ---- */
@media (min-width: 768px) { 

	/*---- navbar logo to appear above tablet device ----*/

	.navbar-brand .header-logo{

		color:#FFCC00 !important;
		font-size:50px;
		display:inline-block;
	}

	.hero h2:after{

	content:"";
	width: 30%;
	height:2px;
	position:absolute;
	top:90px;
	left:35%;
	background-color:#fff;

}

	/*---- Footer  ----*/

	.footer-logo{

	
		vertical-align: top;
		width:150px;
		height:60px;
	}

	

	.footer-bottom .footer-images li{
	
		list-style-type: none;
		display: inline-block;
	}

	


 }

/* ---- Hero tile icons ---- */
.bottom-icon-tile-pannel{
	display: flex;
	position: absolute;
	height:220px;
	text-align:center;
  	z-index: 1;
  	bottom: 0;
  	width:100%;
}

.left-panel,.right-panel{

	width:50%;
	height:100%;
}


.left-panel,.right-panel{

	width:50%;
	height:100%;


}


.icon-cube{
	
	position: relative;
	height:80px;
	width:80px;
	float:left;
	background-color: #2C3E50;
	margin:10px;
	opacity:0.8;
	overflow: hidden;
	

}

.icon-pane,.cube-slider{

	position:absolute;
	width:100%;
	height:100%;
}

.icon-pane,.cube-slider{

	display:flex;
	align-items:center;
	justify-content:center;
}
.cube-slider{

	background-color: #FFF;
	z-index: 9;
	top:-100px;
	font-size: 0.7em;
	color:#2C3E50;
	transition:all 0.3s ease-in;
}

.icon-pane{
	
	z-index: 7;
	
}

.left-panel .icon-cube{

	float:left;

}

.right-panel .icon-cube{

	float:right;
}

.icon-cube:nth-child(2){

	clear:both;
}

.icon-cube:hover .cube-slider {
	
	transform: translateY(100px);

}


.icon-cube i{

	color:#FFCC00;
	font-size:2em;
}

.package-wrapper{

	padding:20px 0px;
}



/* ---- Large devices (desktops, 992px and up) ---- */
@media (min-width: 992px) { 

	#navbar-top-custom .navbar-nav{

		margin-left:50px;
}	

}

/* ---- Extra large devices (large desktops, 1200px and up) ---- */
@media (min-width: 1200px) { 

	#navbar-top-custom .navbar-nav{

		margin-left:250px;
	}
}

@media (min-width:776px){









/*misc*/



.nav span{

	color:#FFF;
}

