/* ================================= 
  Google fonts
==================================== */

@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");


/* ================================= 
  Base Element Styles
==================================== */

a{

	text-decoration: none;
	
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Page wrap ---- */
.page-wrap{

	min-height:calc(100vh - 150px);

}


/* ---- Navigation ---- */

.brand{

	margin:0;
	text-decoration: none;
	color:#FFF;
	display:block;
	text-align:center;
	padding-top:10px;

}

.brand .header-logo{

	color:#FFCC00 !important;
	font-size:50px;
}


.top-brand-name{

	font-family:'Kaushan Script', cursive;;
	display:inline-block;
	padding: 0;
	font-size: 2em;
	color:#FFF;
}

.top-navigation{

	display:block;
	text-align: center;
	margin-top:10px;
}

.top-navigation .nav{

	margin:0;
	padding:0;
	
}

.top-navigation .nav .nav-item{

	display:block;
	list-style-type: none;
	padding:1em 0;
}

.nav-link{

	color:#FFF;
	font-size: 0.9em;
	padding:2em 0;


}


/* ---- Layout Containers ---- */

.main-header{

	background-color:#2C3E50;
	padding: 1em 0;
	height:auto;
	z-index:1;
}

.main-footer{

	background-color:#7F8C8D;
	padding: 2em 0;
	height:150px;
}

.container{
	width:70%;
	margin:0 auto;
}


.banner{

	width:100%;
	background-color: red;
	min-height:calc(100vh - 80px);
}
/* ================================= 
  Utility styles
==================================== */

.clearfix::after{

	content: "";
	display: table;
	clear:both;
}


/* ================================= 
  Page specific
==================================== */



/* ---- index ---- */

section.hero{
	
	position: relative;
  	bottom: 0%;
  	left: 0%;
  	min-height:calc(100vh - 80px);
  	width: 100%;
  	overflow: hidden;
  	background: #333;
  	padding:0;
  	margin:0;
	
	
	}


.intro-video{

	position: absolute;
	top:0;
  	z-index: 0;
  	bottom: 0;
  	width:100%;

}


.video-overlay{

	position: absolute;
	top:0;
  	z-index: 1;
  	bottom: 0;
  	width:100%;
  	background-color: #FFCC00;
  	opacity:0.2;
}

.hero h2{

	position: absolute;
	top:40%;
	text-align:center;
  	z-index: 1;
  	bottom: 0;
  	width:100%;
  	color:#2C3E50;
  	font-family:'Kaushan Script', cursive;;
  	font-size: 5em;

}

.bottom-icon-tile-pannel{

	display: none;

  

}



/* ================================= 
  Media Queries
==================================== */

@media (min-width:776px){


.main-header{

	height:90px;
	line-height: 80px;
	padding:0;
}

.brand, 
.top-navigation{

	display: inline;
	height:100%;
}

.brand{

	float:left;
	width:240px;
	height:80px;
	text-align: left;

}

.top-navigation{

	float:right;
}

.top-navigation .nav .nav-item{

	display: inline;
	margin-right: 10px;

}

.top-navigation .nav .nav-item .nav-link{

	
	padding: 1em 2em;

}

.hero h2:after{

	content:"";
	width: 20%;
	height:2px;
	position:absolute;
	top:100px;
	left:40%;
	background-color:#2C3E50;
}


.bottom-icon-tile-pannel{
	display: flex;
	position: absolute;
	height:250px;
	text-align:center;
  	z-index: 1;
  	bottom: 0;
  	width:100%;
}

.left-panel,.right-panel{

	width:50%;
	height:100%;
}


.left-panel,.right-panel{

	width:50%;
	height:100%;


}


.icon-cube{
	
	position: relative;
	height:100px;
	width:100px;
	float:left;
	background-color: #2C3E50;
	margin:10px;
	opacity:0.8;
	overflow: hidden;
	

}

.icon-pane,.cube-slider{

	position:absolute;
	width:100%;
	height:100%;
}

.icon-pane,.cube-slider{

	display:flex;
	align-items:center;
	justify-content:center;
}
.cube-slider{

	background-color: #FFF;
	z-index: 9;
	top:-100px;
	font-size: 0.7em;
	color:#2C3E50;
	transition:all 0.3s ease-in;
}

.icon-pane{
	
	z-index: 7;
	
}

.left-panel .icon-cube{

	float:left;

}

.right-panel .icon-cube{

	float:right;
}

.icon-cube:nth-child(2){

	clear:both;
}

.icon-cube:hover .cube-slider {
	
	transform: translateY(100px);

}


.icon-cube i{

	color:#FFCC00;
	font-size:2em;
}
