/* ================================= 
  Google fonts
==================================== */

@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");


/* ================================= 
  Base Element Styles
==================================== */

a{

	text-decoration: none;
	
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Page wrap ---- */
.page-wap{

	min-height:calc(100vh-150px);
}


/* ---- Navigation ---- */

.brand{

	margin:0;
	text-decoration: none;
	color:#FFF;
	display:block;
	text-align:center;
	padding:10px 0;

}

.brand .header-logo{

	color:#FFF !important;
	font-size:50px;
}


.top-brand-name{

	font-family:'Kaushan Script', cursive;;
	display:inline-block;
	padding:0 15px;
	font-size: 2em;
}

.top-navigation{

	display:block;
	text-align: center;
	margin-top:10px;
}

.top-navigation .nav{

	margin:0;
	padding:0;
	
}

.top-navigation .nav .nav-item{

	display:block;
	list-style-type: none;
	padding:1em 0;
}

.nav-link{

	color:#FFF;
	font-size: 0.9em;
	padding:2em 0;


}


/* ---- Layout Containers ---- */

.main-header{

	background-color:#2C3E50;
	padding: 1em 0;
	height:auto;
}

.main-footer{

	background-color:#ECF0F1;
	padding: 2em 0;
	height:150px;
}

.container{
	width:70%;
	margin:0 auto;
}

/* ================================= 
  Utility styles
==================================== */

.clearfix::after{

	content: "";
	display: table;
	clear:both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width:776px){


.main-header{

	height:80px;
	line-height: 80px;
	padding:0;
}

.brand, 
.top-navigation{

	display: inline;
	height:100%;
}

.brand{

	float:left;
	width:240px;
	text-align: left;
}

.top-navigation{

	float:right;
}

.top-navigation .nav .nav-item{

	display: inline;
	margin-right: 10px;

}

.top-navigation .nav .nav-item .nav-link{

	
	padding: 1em 2em;

}


}